<h1>Hero</h1>
<p>Current user <strong>{{currentUser}}</strong>.</p>

<div>
	<button (click)="connect()">connect</button>
	<button (click)="disconnect()">disconnect</button>
</div>
<div>
	<button (click)="dispose()">dispose</button>
	<button (click)="send()">send</button>
	<button (click)="invoke()">invoke</button>	
</div>
<div>
	<button (click)="setData()">setData</button>
	<button (click)="clearData()">clearData</button>
</div>
<div>
	<ul>
		<li *ngFor="let hero of heroMessages; trackBy: trackByHero">{{hero.name}} - {{hero.health}}</li>
	</ul>
</div>